<!doctype html>
<html>
<head>
<title> Mobil </title>
</head>
   <body bgcolor="#a3c1ad">
   <div class="background"></div>
  <br><p align="center"><font face=Georgia color=black size="15">Prediksi Harga Mobil Toyota Innova 2018
  </font><br></br>
    <div class="div2">
      <form action = "{{ url_for('predict')}}" method = "POST">

         <p align="center"> Masukkan KM mobil <td><input type = "text" name = "Biayaiklan" /> <input type = "submit" value = OK /> </p></td>
      </form>
    
   <p align="center"><font face=Georgia color=black size="3"><td>Prediksi harga mobil: </td>
   <br>Rp {{ prediction_text }}</br></p>
   </div>
   </body>
<style>
   .background {
            background-color: green;
            background-repeat: no-repeat;
            background-size: cover;
        }
    .div2 {
     margin: auto;
     background-color:#e4ede0;
     width: 400px;
     height: 100px;  
     padding: 50px;
     border: 4px solid black;
   }
   </style>
</html>