<!DOCTYPE html>
	<html >
	<!--From https://codepen.io/frytyler/pen/EGdtg-->
	<head>
	  <meta charset="UTF-8">
	  <title>Mobil Innova 2018</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	  
	</head>
	<center>
		<br>
		<br>
		<br>
	<body bgcolor="#a3c1ad">
		 <div class="background"></div>
			<h2 style="border: 2px solid black;">
				<table border="0" style="center">
	 <div class="login">
		<h1>Prediksi Mobil Toyota Innova 2018</h1>
	     <!-- Main Input For Receiving Query to our ML -->
	    <form action="{{ url_for('predict')}}"method="post">
	    	<p>Masukkan kilometer mobil (KM)<input type="text" name="X" placeholder="KM" required="required" />
	
	    	        <button type="submit" class="btn btn-primary btn-block btn-large">Cek Harga Mobil</button></p>
	    </form>
	   <br>
	   <br>
	   {{ prediction_text }}
	</center>
	 </div>
	

	</body>
	</html>
